<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  autoReload="true"
		  internalLogLevel="Info">
		<targets>
			<target xsi:type="ColoredConsole" name="console"
					layout="${date}|${level:uppercase=true}|${message}|${exception}|${callsite}:${callsite-linenumber}|${all-event-properties}" />
			<target xsi:type="FilteringWrapper" name="file">
				<target xsi:type="File" name="" fileName="logs/mavlinkpal.log"
						layout="${date}|${level:uppercase=true}|${message}|${exception}|${callsite}:${callsite-linenumber}|${all-event-properties}" />
				<filter xsi:type="whenRepeated" layout="${level:uppercase=true}|${message}"
						timeoutSeconds="60" action="Ignore" filterCountPropertyName="IdenticalMessageFilteredCount" />
			</target>
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="console" />
			<logger name="*" minlevel="Trace" writeTo="file" />
		</rules>
	</nlog>
</configuration>